body {
  font-family: Arial, sans-serif;
  padding: 2em;
  background-color: #f2f2f2;
}

h1, h2 {
  color: #333;
}

img {
  max-width: 400px;
  border: 1px solid #ccc;
  margin-top: 1em;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.peak {
  display: flex;
  justify-content: center;
  font-size: large;
  font-weight: 600;
}

.area {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.link {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.textArea .p-style {
  font-size: large;
}